.contact {
    height: 100vh;
    background: url('/assets/images/office.jpg');
    background-size: cover;
    padding-top: 10vh;
    padding-left: 10vw;
    .wrapper {
      background: #fff;
      height: 100%;
    }
}
