@import "../mixins.scss";

body {
  &, * {
    transform-style: preserve-3d;
  }
}

.projects {
  padding: 10vw 5vw 5vw;
  justify-content: space-between;
  background: #1c1c1c;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  // grid-auto-flow: column;
  grid-template-rows: repeat(3, 20vw);
  grid-gap: 10vw;
  perspective: 20px;
  & > .project {
    position: relative;
    margin: 0;
    &:nth-child(3) {
      @include parallax(.2, 20px);
    }
    &:nth-child(2) {
      @include parallax(.3, 20px);
    }
    &:nth-child(1) {
      @include parallax(.1, 20px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title {
      margin: 0;
      @include parallax(50, 20)
    }
    .category {
      font-size: 1.5rem;
      font-weight: 900;
      position: absolute;
      writing-mode: vertical-lr;
      color: white;
      right: -1.5em;
      top: -0.08em;
      opacity: 0.1;
      font-variant: all-small-caps;
      letter-spacing: 0.1em;
    }
  }
}
