section.contact
  .wrapper
    h3 Contact Us
    p Or come and drink coffee in comfy place
    ul
      li
        .address
          span.label Main address:
          span.street 38 avenue de l'Opera
          span.zipcode F-75002
          span.locality Paris, France
          span.telephone Tel: (331) 42 68 53 00
          span.fax Fax: (331) 42 68 53 01
