section.hero
  p.intro We are a great team who create original handcrafted web-sites, apps and branding.
  section.skills
    .index
      span.current #[span.inner 01]
      span.total 04
    nav.nav
      button.prev
        svg(viewBox="0 0 50 17")
           path(d="M8,7 L50,7 L50,10 L8,10 L8,16.2781746 L4.08562073e-14,8.5 L8,0.721825407 L8,7 Z")
      button.next
        svg(viewBox="0 0 50 17")
          path(d="M41,7 L41,0.792893219 L49.3492424,8.57106781 L41,16.3492424 L41,10 L0,10 L0,7 L41,7 Z")
    figure.skill.current
      figcaption.details
        h2.title Photography
      .cover
        img(src="assets/images/camera.jpg", alt="")
    figure.skill
      figcaption.details
        h2.title Marketing
      .cover
        img(src="assets/images/office.jpg", alt="")
    figure.skill
      figcaption.details
        h2.title Development
      .cover
        img(src="assets/images/code.jpg", alt="")
