section.projects
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
  figure.project
    figcaption.details
      h2.title
      span.category Photography
    img(src="assets/images/camera.jpg", alt="")
