section.projects
  figure.project(data-rellax-speed="1")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="3")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="2")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="1")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="2")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="3")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="1")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="2")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
  figure.project(data-rellax-speed="3")
    figcaption.details
      h2.title
      span.category(data-rellax-speed=".5") Photography
    img(src="/assets/images/camera.jpg", alt="")
