.gallery.layout-1 {
  .item:nth-child(1) {
    grid-area: 11 / 1 / 17 / 5;
    background: red;
  }
  .item:nth-child(2) {
    grid-area: 22 / 6 / 28 / 10;
    background: red;
  }
  .item:nth-child(3) {
    grid-area: 8 / 5 / 22 / 15;
    background: red;
  }
  .item:nth-child(4) {
    grid-area: 22 / 10 / 29 / 15;
    background: red;
  }
  .item:nth-child(5) {
    grid-area: 1 / 11 / 8 / 15;
    background: red;
  }
  .item:nth-child(6) {
    grid-area: 17 / 15 / 24 / 20;
    background: red;
  }
  .item:nth-child(7) {
    grid-area: 9 / 15 / 17 / 23;
    background: red;
  }
  .item:nth-child(8) {
    grid-area: 2 / 18 / 9 / 23;
    background: red;
  }
  .item:nth-child(9) {
    grid-area: 17 / 20 / 22 / 26;
    background: red;
  }
  .item:nth-child(10) {
    grid-area: 22 / 20 / 28 / 23;
    background: red;
  }
  .item:nth-child(11) {
    grid-area: 4 / 23 / 11 / 27;
    background: red;
  }
  .item:nth-child(12) {
    grid-area: 11 / 23 / 17 / 30;
    background: red;
  }
  .item:nth-child(13) {
    grid-area: 17 / 26 / 22 / 28;
    background: red;
  }
  .name {
    grid-area: 3 / 12 / 30 / 25;
  }
  .title {
    grid-area: 1 / 27 / 11 / 29;
  }
  .text {
    grid-area: 22 / 23 / 30 / 26;
  }
  .nav.next {
    grid-area: 3 / 6 / 8 / 11;
  }
  .nav.prev {
    grid-area: 24 / 15 / 29 / 20;
  }
}
