.gallery.layout-2 {
  .item:nth-child(1) {
    grid-area: 17 / 1 / 24 / 5;
    background: red;
  }
  .item:nth-child(2) {
    grid-area: 22 / 6 / 28 / 10;
    background: red;
  }
  .item:nth-child(3) {
    grid-area: 14 / 5 / 22 / 10;
    background: red;
  }
  .item:nth-child(4) {
    grid-area: 17 / 10 / 26 / 15;
    background: red;
  }
  .item:nth-child(5) {
    grid-area: 1 / 10 / 17 / 15;
    background: red;
  }
  .item:nth-child(6) {
    grid-area: 11 / 15 / 24 / 20;
    background: red;
  }
  .item:nth-child(7) {
    grid-area: 5 / 15 / 11 / 18;
    background: red;
  }
  .item:nth-child(8) {
    grid-area: 1 / 18 / 11 / 23;
    background: red;
  }
  .item:nth-child(9) {
    grid-area: 20 / 20 / 27 / 24;
    background: red;
  }
  .item:nth-child(10) {
    grid-area: 24 / 15 / 29 / 20;
    background: red;
  }
  .item:nth-child(11) {
    grid-area: 4 / 23 / 11 / 27;
    background: red;
  }
  .item:nth-child(12) {
    grid-area: 11 / 20 / 20 / 30;
    background: red;
  }
  .item:nth-child(13) {
    grid-area: 25 / 24 / 29 / 28;
    background: red;
  }
  .name {
    grid-area: 16 / 9 / 30 / 16;
  }
  .title {
    grid-area: 1 / 27 / 11 / 29;
  }
  .text {
    grid-area: 1 / 5 / 9 / 10;
  }
  .nav.next {
    grid-area: 9 / 5 / 14 / 10;
  }
  .nav.prev {
    grid-area: 20 / 24 / 25 / 30;
  }
}
